<% if user_signed_in? %>
    <h2><%= current_user.email %></h2>
  <% end %>
<h3>My Cart</h3>
  <table class="table">
    <tr>
      <th>item</th>
      <th>Weight</th>
      <th>quantity</th>
      <th>Price per Kg</th>
      <th>total price</th>
    </tr>

    <% @cart.each do |x|%>
      <tr>
      <td><%= x["name"]%></td>
      <td><%= x["weight"] %><%= x["weight_type"] %></td>
      <td><%= x["quantity"]%></td>
      <td><%= x["price_per_kg"]%></td>
      <td><%= total_price(x["weight"],x["weight_type"],x["quantity"],x["price_per_kg"]) %></td>


      </tr>

    <% end %>


    <tr>
      <td><%= link_to "checkout",checkout_carts_path %></td>
    </tr>
  </table>
  <h6><%= link_to "home",root_path%></h6>
