<% if user_signed_in? %>
    <h2><%= current_user.email %></h2>

  <% end %>
  <h1>Poduct details</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Price per kg</th>
      <th colspan="2"></th>
    </tr>
    <% @product.each do |p|%>
    <tr>

      <td><%= p.name%></td>
      <td><%= p.price_per_kg%></td>
      <td><%= link_to "Add to Cart",product_path(p)%></td>
      <td><%= link_to "Add to Cart",carts_new_product_path(p)%></td>

    </tr>
    <% end %>
  </table>
  <h4><%= link_to "Go to cart",carts_path%></h4>
